# Node
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
dist/
build/

# Env
.env
.env.local
.env.*
server/.env
client/.env
client/.env.*
server/.env.*
!.env.example
!server/.env.example
!client/.env.example

# Docker
db-data/
